.avatar{
    position: absolute;
    top:128rpx;
    width: 750rpx;
    height: 750rpx;
}

.change{
    position: absolute;
    top:928rpx;
    left:285rpx;
    width: 200rpx;
    height: 54rpx;
    background:#FFFFFF;
    border: 1rpx solid #6385F4;
    border-radius: 27rpx;
    line-height:54rpx;
}

.change text{
    font-size:28rpx;
    color:#6385F4;
}